.desktop {
    display: block;
}

.mobile {
    display: none;
}

.fsb20 {
    font-size: 20px;
    font-weight: 700;
}


/* INDEX PAGE */

.home1_hd {
    width: 100%;
    /* height: 120vh; */
    background-image: url(media/Home1.png);
    background-position-x: center;
    background-size: cover;
}

.service_box_hd {
    width: 342px;
    border-radius: 24px;
    border: 1px solid var(--neutral-400, #E4E4E4);
    padding: 24px;
    position: relative;
    height: 412px;
}

.text_under {
    display: inline-block !important;
    text-decoration: none !important;
    border-bottom: 2px solid #6246E4;
    padding-bottom: 4px;
}

.home3 {
    background-image: url(media/home3bg.png);
    background-size: cover;
    background-position-x: center;
}

.home4 {
    background-image: url(media/home4bg.png);
    background-size: cover;
    background-position-x: center;
    border-radius: 32px;
}

.benifit_box_hd {
    width: 458px;
    /* margin-bottom: 20px; */
}


/* FAQ SECTION */

.cone_hd {
    top: -30px;
    left: -90px;
}

.accordion-item {
    border: 1px solid #D0D0D0 !important;
    border-radius: 24px !important;
    padding: 32px 10px;
    margin-bottom: 24px;
}

.accordion-item .accordion-header {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

.accordion-item .accordion-button {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-left: 30px;
    margin-left: 20px;
}

.accordion-item .accordion-body {
    /* padding-left: 30px; */
}

.accordion-button::after {
    left: 0 !important;
    position: absolute;
    background-image: url(media/plus.svg);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(media/minus.png);
}


/* end FAQ  SECTION*/


/* INDEX PAGE */

@media screen and (max-width: 1440px) and (min-width: 1300px) {
    .w90hd {
        width: 90%;
    }
    .w45HD {
        width: 45%;
    }
    .w55HD {
        width: 55%;
    }
    .img_fluid_1440_1280_hd {
        width: 100%;
    }
    .service_box_hd {
        width: 330px;
        height: 420px;
    }
    /* .home3 {} */
    .benifit_box_hd {
        width: 420px;
        /* margin-bottom: 20px; */
    }
}

@media screen and (max-width: 1280px) and (min-width: 1000px) {
    .img_fluid_1440_1280_hd {
        width: 100%;
    }
    .service_box_hd {
        width: 290px;
        height: 450px;
    }
    .benifit_box_hd {
        width: 380px;
        /* margin-bottom: 20px; */
    }
}

@media screen and (max-width: 576px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .w100_HD {
        width: 100%;
    }
    /* index */
    .service_box_hd {
        width: 100%;
        height: 100%;
    }
    .more_link {
        position: relative !important;
        margin-bottom: 0 !important;
    }
    .home3 {
        background-image: url(media/home3mbg.png);
        background-size: 100%;
        background-position-y: 20px;
        background-position-x: center;
    }
    .home4 {
        background-image: url(media/home4bgm.png);
        /* background-size: 100%; */
        /* background-position-y: 20px; */
        background-position-x: center;
    }
    .home4 img {
        width: 32px;
        height: 32px;
    }
    .cone_hd {
        top: -20px;
        left: -50px;
        width: 115.996px !important;
        height: 116.569px !important;
    }
    .cone_hd img {
        width: 100% !important;
    }
    .faq_sec {
        overflow: hidden !important;
    }
    /* end index */
}