@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500;700&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Onest', sans-serif;
    /* border: 1px solid red; */
}


/* ********************* FONTS ******************* */

.fs72 {
    font-size: 72px;
    font-weight: 700;
}

.fs56 {
    font-size: 56px;
    font-weight: 700;
}

.fs28 {
    font-size: 28px;
    font-weight: 300;
}

.fs24 {
    font-size: 24px;
    font-weight: 700;
}

.fs20 {
    font-size: 20px;
    font-weight: 400;
}

.fs18 {
    font-size: 18px;
    font-weight: 400;
    line-height: 23.76px;
}

.text_grey {
    color: #FBFBFB;
}

.text_dgrey {
    color: #D0D0D0;
}

.text_blue {
    color: #6246E4
}

.text_darkBlue {
    color: #10082D;
}

.text_light {
    color: #9B9B9B;
}


/* *********************END FONTS ******************* */


/* *********************BUTTONS******************* */

.btn_blue {
    border-radius: 16px;
    background: var(--Bright-Purple, #6246E4);
    display: flex;
    padding: 16px 24px;
    height: 58px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.btn_blue_trans {
    border-radius: 16px;
    border: 2px solid var(--Bright-Purple, #6246E4);
    display: flex;
    padding: 16px 24px;
    height: 58px;
    justify-content: center;
    align-items: center;
    color: var(--Bright-Purple, #6246E4);
    font-size: 20px;
}

.btn_black {
    border-radius: 16px;
    background: var(--Deep-Purple, #10082D);
    display: flex;
    padding: 16px 24px;
    height: 58px;
    justify-content: center;
    align-items: center;
}


/* *********************END BUTTONS ******************* */


/* *********************END INPUTS ******************* */

input,
select,
textarea {
    width: 100%;
    border-radius: 12px;
    border: 1px solid var(--neutral-500, #D0D0D0);
    background: var(--neutral-200, #FBFBFB);
    padding: 20px 24px;
}

input.input_blue,
select.input_blue,
textarea.input_blue {
    border-radius: 16px;
    border: 1px solid var(--Medium, #423095);
    background: var(--Purple, #221552);
    padding: 20px 24px;
}

.mycheckbox {
    width: 24px;
    height: 24px;
    border: 1px solid var(--Medium, #423095);
    background: var(--Purple, #221552);
}


/* *********************END INPUTS ******************* */


/* Header */

.nav-link {
    color: #FBFBFB;
    text-transform: none !important;
}

.nav-link:hover {
    color: #FBFBFB;
    opacity: 0.8;
}

.nav-link.dropdown-toggle.show {
    color: #FBFBFB;
}

.dropdown-toggle::after {
    background-image: url(media/dropdown.png);
    background-size: cover;
    width: 24px;
    height: 24px;
    background-position-x: center;
    font-size: 0px;
}

.gb {
    min-width: 100px;
    border-radius: 8px !important;
    border: 1px solid var(--Bright-Purple, #6246E4) !important;
    background-color: transparent;
}

.gb li a {
    color: #FBFBFB;
    padding: 0 10px !important;
}

.gb li a.active {
    color: #6246E4;
    background: #221552;
}


/* END HEADER */


/* FOOTER  */

.footer {
    background-color: #F2F2F2;
}

.text_656565 {
    color: #656565;
}

.footer_col_hd.first {
    width: 448px;
}

.footer_col_hd {
    width: 250px;
}


/* END FOOTER */


/* ********************* SCREEN 1440px ******************* */

@media screen and (max-width: 1440px) and (min-width: 1300px) {
    .w90hd {
        width: 90%;
    }
    .w45HD {
        width: 45%;
    }
    .w55HD {
        width: 55%;
    }
    .img_fluid_1440_1280_hd {
        width: 100%;
    }
    .service_box_hd {
        width: 330px;
        height: 420px;
    }
}


/* ********************* SCREEN 1280px ******************* */

@media screen and (max-width: 1280px) and (min-width: 1000px) {
    .img_fluid_1440_1280_hd {
        width: 100%;
    }
    .service_box_hd {
        width: 290px;
        height: 450px;
    }
}


/* ********************* SCREEN MOBILE ******************* */

@media screen and (max-width: 576px) {
    /* ********************* FONTS ******************* */
    .fsm32 {
        font-size: 32px;
    }
    .fsm16 {
        font-size: 16px;
    }
    .fsm48 {
        font-size: 48px;
    }
    /* *********************END FONTS ******************* */
    .btn_blue_trans,
    .btn_blue {
        font-size: 18px;
        height: 56px;
    }
    .btn_black,
    .btn_blue,
    .btn_blue_trans {
        height: 56px;
    }
    /* mobile Header */
    .offcanvas-backdrop {
        display: none;
    }
    #mynavbar {
        background: var(--Deep-Purple, #10082D);
        /* Menu */
        box-shadow: -21px 4px 21px 0px rgba(0, 0, 0, 0.50);
        max-width: 162px !important;
        /* position: absolute; */
        /* right: -30px; */
        top: 70px;
        /* padding: 20px; */
        /* height: 100vh; */
    }
    #mynavbar li a {
        text-align: right;
        padding-bottom: 32px;
    }
    .mob_hd .footer_col_hd {
        width: 150px;
    }
    /* end mobile Header */
}